* {
    box-sizing: border-box;
}
ul {
    padding: 0px;
    margin: 0px
}

.login-cbase-container, .register-cbase-container {
    width: 60%;
    margin: auto;
}

.field-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.field-container label {
    flex-basis: 25%;
    border-left: 5px solid #568f8f;
    text-align: left;
    padding: 5px;
}

.login-cbase-container .field-container input, .login-cbase-container .field-container p,
.register-cbase-container .field-container input, .register-cbase-container .field-container p{
    border: 0px solid #568f8f;
    border-radius: 50px;
    flex-basis: 60%;
    padding: 5px;
    background-color: #dcdcdc;
    border-left: 5px solid #568f8f;
    border-right: 5px solid #568f8f

}

.field-container p {
    text-align: left;
}

.field-container input[type="submit"] {
    width: 100%;
    background-color: #568f8f;
    flex-basis: 85%;
}


.nextBtn {
    background-image: url("./images/right-arrow.png");
}

.prevBtn {
    background-image: url("./images/left-arrow.png");
}

.nextBtn, .prevBtn {
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 20px;
    border: 0px solid #568f8f;
    background-position: center;
    /*transition: 0.6s ease;*/
}

.prevBtn:hover, .nextBtn:hover {
  border: 1px solid #568f8f;
}

.addOpacity {
    opacity: 0.50;
}

.addOpacity:hover {
    border: 0px solid #568f8f;
}

.Post, .Comment {
    background-color: #f2f2f2;
    border: 2px solid #568f8f;
    border-radius: 50px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.Comment {
    margin-left: 20px;
}

.post-page-container {
    margin: auto;
    padding: 10px;
}

.Post h3 {
    background-color: #568f8f;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.open-post-btn, .update-post-btn, .view-post-comments-btn,
.delete-post-btn, .hide-post-comments-btn, .edit-comment-btn,
.delete-comment-btn, .update-comment-btn, .cancel-updating-comment-btn,
.edit-user-btn, .delete-user-btn, .update-user-btn, .cancel-updating-deleting-user-btn,
.change-password-btn{
    background-color: #568f8f;
    border-radius: 50px;
    border: none;
    margin-right: 90px;
    padding: 8px;
    float: right;
}

.posts-link-container, .comments-link-container {
    text-align: left;
    padding: 10px;
    border-top: 5px solid #568f8f;
    border-bottom: 5px solid #568f8f;
}

.posts-link-container ul, .comments-link-container ul {
    list-style: none;
}

.posts-link-container ul li, .comments-link-container ul li {
    border-left: 5px solid #568f8f;
    padding: 5px;
    margin: 10px;
}

.cardImage {
    max-width: 100%;
    max-height: 200px;
}

.cardTitle {
    text-align: left;
}

.showElement {
    display: block;
}

.hideElement {
    display: none;
}

.cardText input:enabled {
    border: 1px solid #568f8f;
    flex-basis: 60%;
    padding: 5px;
    background-color: #dcdcdc;
}

.cardText input:disabled {
    flex-basis: 60%;
    padding: 5px;
    border: none
    /*background-color: #dcdcdc;*/
}

.dropDownList button {
    background-color: #568f8f;
    color: black;
}

.dropDownList button:hover {
    background-color: #0a4f4f;
    color: white;
}