* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.login-cbase-container, .register-cbase-container {
    width: 60%;
    margin: auto;
}

.field-container {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
}

.login-form, .register-form {
    justify-content: center;
}

.field-container label {
    flex-basis: 25%;
    border-left: 5px solid #19a5a5;
    text-align: left;
    padding: 5px;
}


.login-cbase-container .field-container input, .login-cbase-container .field-container p,
.register-cbase-container .field-container input, .register-cbase-container .field-container p{
    border: 0px solid #19a5a5;
    border-radius: 50px;
    flex-basis: 65%;
    padding: 5px;
    background-color: #dcdcdc;
    border-left: 5px solid #19a5a5;
    border-right: 5px solid #19a5a5

}



.field-container p {
    text-align: left;
}

.field-container input[type="submit"] {
    width: 100%;
    background-color: #19a5a5;
    flex-basis: 85%;
}


.nextBtn {
    background-image: url("./images/right-arrow.png");
}

.prevBtn {
    background-image: url("./images/left-arrow.png");
}

.nextBtn, .prevBtn {
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 20px;
    border: 0px solid #19a5a5;
    background-position: center;
}

.prevBtn:hover, .nextBtn:hover {
  border: 1px solid #0a4f4f;
}

.addOpacity {
    opacity: 0.50;
}

.addOpacity:hover {
    border: 0px solid #0a4f4f;
}

.Post, .Comment {
    background-color: #f2f2f2;
    border: 2px solid #19a5a5;
    border-radius: 50px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.Comment {
    margin-left: 20px;
}

.post-page-container {
    margin: auto;
    padding: 10px;
}

.Post h3 {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.open-post-btn, .update-post-btn, .view-post-comments-btn,
.delete-post-btn, .hide-post-comments-btn, .edit-comment-btn,
.delete-comment-btn, .update-comment-btn, .cancel-updating-comment-btn,
.edit-user-btn, .delete-user-btn, .update-user-btn, .cancel-updating-deleting-user-btn,
.change-password-btn{
    background-color: #19a5a5;
    border-radius: 50px;
    border: none;
    margin-right: 90px;
    padding: 8px;
    float: right;
}

input[type=submit]:hover {
    border:2px solid #0a4f4f;
}


.posts-link-container, .comments-link-container {
    text-align: left;
    padding: 10px;
    border-top: 5px solid #19a5a5;
    border-bottom: 5px solid #19a5a5;
}

.posts-link-container ul, .comments-link-container ul {
    list-style: none;
}

.posts-link-container ul li, .comments-link-container ul li {
    border-left: 5px solid #19a5a5;
    padding: 5px;
    margin: 10px;
}

.cardImage {
    max-width: 100%;
    height: 300px;
    padding: 20%;
}

.cardTitle {
    text-align: left;
}

.showElement {
    display: block;
}

.hideElement {
    display: none;
}

.cardText input:enabled .postTitle:enabled{
    border: 1px solid #19a5a5;
    flex-basis: 60%;
    padding: 5px;
    background-color: #19a5a5;
}

.cardText input:disabled, .postTitle:disabled {
    flex-basis: 60%;
    padding: 5px;
    border: none
}

.dropDownList button {
    background-color: #19a5a5;
    color: black;
}

.dropDownList button:hover {
    background-color: #0a4f4f;
    color: white;
}

.dropDownList button:active, .dropDownList button:focus {
    background-color: #0a4f4f;
    color: white;
}

.userAvatar {
    width: 100px;
    height: 100px;
    float: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


ul {
    width: 100%;
}

.cont {
    width: 100%;
    margin: auto;
}

.row {
    padding: 2%;
}

.col {
    height: 100%;
}

.col {
    padding: 2%;
}